package components

import "htmx-with-templ/view/models"

templ ContactPage(contactFormData *models.FormData, contacts *[]models.ContactReadModel, plaidToken string) {
	<div class="flex flex-col gap-4">
		@ContactForm(contactFormData)
		@OpenPlaidLinkButton(plaidToken)
		<hr/>
		@ContactList(contacts, false)
	</div>
}
