package components

import "nerdmoney/view/models"

templ ContactList(contacts *[]models.ContactReadModel, oobUpdate bool) {
	<ul
		id="contacts"
		if oobUpdate {
			hx-swap-oob="beforeend"
		}
	>
		for _, contact := range *contacts {
			@Contact(&contact)
		}
	</ul>
}
